################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab2/.vs/Lab2/v16/Browse.VC.opendb
